.app {
  display: grid;
  height: 100vh;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 80px 60px 100%;
}
.left-pane {
  grid-column: 1 2;
  border-right: 1px solid #dddddd;
}

.right-pane {
  grid-column: 2 3;
}

@media (max-width: 767px) {
  .app {
    overflow-y: auto;
  }

  .left-pane {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    border-right: none;
  }

  .right-pane {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
